body{
    user-select:none;
    -webkit-user-select:none;
    -ms-user-select: none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-drag:none;
    -khtml-user-drag:none;
    background: white;
}
p {
    color:#BEAF71;
    font-size:200%;
}
.bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(quantum_duel.jpg);
    background-size: cover;
    opacity: 0.5;
}
.movable {
    display: inline-block;
    width: 49px;
    height: 45px;
    background: #ffc107;
    cursor: move;
    top: 100px;
    left: 100px;
    text-align: center;
}
.black-dot {
    width: 49px;
    height: 49px;
    background-image: url(black-dot.png);
    position: absolute;
    background-position: center;
    background-size: contain;
    left: 0px;
    top: 0px;
}
.black-target {
    width: 49px;
    height: 49px;
    background-image: url(black-target.png);
    position: absolute;
    background-position: center;
    background-size: contain;
    left: 0px;
    top: 50px;
}
#countdown {
    display: none;
    font-size: 1000%;
    position: absolute;
    top: 40%;
    left: 50%;
    -webkit-transform : translate(-50%,-50%);
    transform : translate(-50%,-50%);
    text-align: center;
    text-shadow: 1px 1px 0 #000,
               -1px 1px 0 #000,
               1px -1px 0 #000,
               -1px -1px 0 #000;
    /*color:#BEAF71;
    background: -webkit-linear-gradient(270deg, #BEAF71, #0E0F01);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
}
.line {
    background: black; 
    display: inline-block;
    position: absolute;
}
#display_state {
    position: absolute;
    color: black;
    top: 0px;
}
#waiting {
    color: black;
}
