<!DOCTYPE html>
<html>
  <head>
    <title>Quantum Duel</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}"/>
    <script src="//cdn.jsdelivr.net/npm/displacejs@1.3.2/dist/displace.min.js"></script>
    <script async src="//cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.6/MathJax.js?config=TeX-AMS_CHTML"></script>
    <script>
    var socket = new WebSocket((location.host.match(/localhost/) ? 'ws://' : 'wss://') + location.host + '/multi');

    var duel_group = null;
    var previous_circ = null;

    function sendAction(message) {
        var message = {
            duel_group: duel_group,
            circ: message,
        };
        socket.send(JSON.stringify(message));
    }

    socket.onopen = function(data) {
    };

    socket.onclose = function() {
    };

    socket.onmessage = function(event) {
        console.log(event.data);
        var data = JSON.parse(event.data);

        if('duel_group' in data) {
            duel_group = data.duel_group;
            return;
        }

        var countdown = document.getElementById('countdown');
        if(data.message == 'ready') {
            document.getElementById('waiting').style.display = 'none';
            countdown.style.display = 'block';
            interval_id = setInterval(function() {
                if(countdown.innerText.length != 1) { // Avoid NaN.
                    clearInterval(interval_id);
                    return;
                }
                --countdown.innerText;

                if(countdown.innerText == 0) {
                    countdown.style.display = 'none';
                    makeCircuit(data.size);
                    displayState(data.initial_state, data.final_state);
                    clearInterval(interval_id);
                }
            }, 1000);
        }
        else if(data.message == 'win') {
            playGunSound();
            countdown.style.display = 'block';
            countdown.innerText = 'WIN!';
        }
        else if(data.message == 'lose') {
            playGunSound();
            countdown.style.display = 'block';
            countdown.innerText = 'LOSE...';
            document.getElementsByTagName('body')[0].style.background = 'black';
        }
    };

    var musicAudio = new Audio();
    musicAudio.src = "{{ static_url("cowboy_theme.mp3") }}";
    musicAudio.loop = true;
    musicAudio.volume = 0.5;
    var gunAudio = new Audio();
    gunAudio.src = musicAudio.src;
    gunAudio.loop = true;
    gunAudio.volume = 0.5;
    function playGunSound() {
        gunAudio.src = "{{ static_url("gun2.mp3") }}";
        gunAudio.loop = false;
        gunAudio.volume = 1;
        gunAudio.load();
        gunAudio.play();
    }

    function displayState(initial_state, final_state) {
        var display_state = document.getElementById('display_state');
        initial_state = initial_state.replace(/\|(\d+)\>/g, '\\ket{$1}');
        initial_state = initial_state.replace(/(\d+)\/sqrt\((\d+)\)/g, '\\frac{$1}{\\sqrt{$2}}');
        initial_state = initial_state.replace(/\*/g, '');
        final_state = final_state.replace(/\|(\d+)\>/g, '\\ket{$1}');
        final_state = final_state.replace(/(\d+)\/sqrt\((\d+)\)/g, '\\frac{$1}{\\sqrt{$2}}');
        final_state = final_state.replace(/\*/g, '');
        display_state.innerText = '$$ ' + initial_state + ' \\to ' + final_state + ' $$';
        MathJax.Hub.Queue(["Typeset", MathJax.Hub, "display_state"]);
    }

    LINE_SPACING = 50;
    function makeLines(size) {
        var lines = document.createDocumentFragment();
        for(var i = 0; i < size; ++i) {
            var span = document.createElement('span');
            span.style.left = 0;
            span.style.top = 200 + i * LINE_SPACING - LINE_SPACING / 2 + 'px';
            span.style.height = '1px';
            span.style.width = screen.width + 'px';
            span.classList.add('line');

            lines.appendChild(span);
        }
        document.getElementById('container').prepend(lines);
    }

    function makeGates(size) {
        var main = document.getElementById('main');

        for(var i = 0; i < (size == 1 ? 15 : 25); ++i) {
            var movable = document.createElement('span');
            movable.style.left = i * 50 + 'px';
            movable.style.top = '350px';
            movable.classList.add('movable');
            if(i < 5) {
                movable.innerText = 'X';
            }
            else if(i < 10) {
                movable.innerText = 'Z';
            }
            else if(i < 15) {
                movable.innerText = 'H';
            }
            else {
                movable.style.left = (i - 15) * 50 + 'px';
                movable.style.top = '400px';
                movable.style.height = '100px';
                movable.style.background = "transparent";

                var line = document.createElement('span');
                line.style.left = '23px';
                line.style.top = '25px';
                line.style.height = '50px';
                line.style.width = '4px';
                line.classList.add('line');
                movable.prepend(line);

                var black_dot = document.createElement('span');
                black_dot.classList.add('black-dot');
                movable.prepend(black_dot)

                var black_target = document.createElement('span');
                black_target.classList.add('black-target');
                movable.prepend(black_target);

                if(i >= 20) {
                    black_dot.style.top = '50px';
                    black_target.style.top = '0px';
                }
            }
            main.prepend(movable);
        }
    }

    function makeCircuit(size) {
        makeGates(size);

        for(var el of document.getElementsByClassName('movable')) {
            var options = {
                //constrain: true,
                customMove(el, x, y) {
                    var left = Math.round(x / LINE_SPACING) * LINE_SPACING;
                    var top = Math.round(y / LINE_SPACING) * LINE_SPACING;
                    el.style.left = left + 'px';
                    el.style.top = top + 'px';

                    console.log(left + ', ' + top);
                    var movable_on_circuit = [...document.getElementsByClassName('movable')].filter(function(movable) {
                        return ['150px', '200px'].indexOf(movable.style.top) >= 0;
                    }).sort(function(a, b) {
                        return parseInt(a.style.left) - parseInt(b.style.left);
                    });
                    circ = [];
                    for(var movable of movable_on_circuit) {
                        if(['X', 'Z', 'H'].indexOf(movable.innerText) < 0) {
                        //if(movable.innerText == '') { this code cannot work in Edge.
                            // CX
                            if(movable.style.top == '200px') {
                                continue;
                            }
                            circ.push('CX');
                            if(movable.getElementsByClassName('black-dot')[0].style.top != '50px') {
                                circ.push(0);
                                circ.push(1);
                            }
                            else {
                                circ.push(1);
                                circ.push(0);
                            }
                            continue;
                        }

                        var qubit = -1;
                        if(movable.style.top == '150px') {
                            qubit = 0;
                        }
                        else {
                            if(size == 1) {
                                continue;
                            }
                            qubit = 1;
                        }
                        circ.push(movable.innerText);
                        circ.push(qubit);
                    }

                    var circ = circ.toString();
                    if(circ != previous_circ) {
                        sendAction(circ);
                        previous_circ = circ;
                    }
                    console.log(circ);
                }
            };
            displacejs(el, options);
        }

        makeLines(size);
    }

    document.addEventListener('DOMContentLoaded', function(e) {
        var audio_button = document.getElementById('audio_button');
        audio_button.addEventListener('click', function(e) {
            musicAudio.play();
            gunAudio.play();
            audio_button.style.display = 'none';
        });
    });
    </script>
  </head>
  <body>
    <div class="bg"></div>
    <div id="container">
      <span style="display: none">
      $$
      \newcommand{\bra}[1]{\left<#1\right|}\newcommand{\ket}[1]{\left|#1\right>}\newcommand{\bk}[2]{\left<#1\middle|#2\right>}\newcommand{\bke}[3]{\left<#1\middle|#2\middle|#3\right>}
      $$
      </span>
      <div id="main">
        <input id="audio_button" value="Sound ON">
        <p id="waiting">Waiting your opponent...</p>
        <p id="display_state"></p>
        <p id="countdown">3</p>
      </div>
    </div>
  </body>
</html>
