<!DOCTYPE html>
<html>
  <head>
    <title>Quantum Duel</title>
    <link rel="stylesheet" href="{{ static_url("style.css") }}"/>
    <script src="//cdn.jsdelivr.net/npm/displacejs@1.3.2/dist/displace.min.js"></script>
    <script>
    LINE_SPACING = 30;
    window.addEventListener('DOMContentLoaded', function() {
        var el = document.getElementsByClassName('movable')[0];
        var options = {
            //constrain: true,
            customMove(el, x, y) {
                var left = Math.round(x / LINE_SPACING) * LINE_SPACING;
                var top = Math.round(y / LINE_SPACING) * LINE_SPACING;
                el.style.left = left + 'px';
                el.style.top = top + 'px';
            }
        };
        displacejs(el, options);
    });
    </script>
  </head>
  <body>
    <div id="container">
      <div id="main">
        <p>Quantum Duel</p>
        <span class="movable">X</span>
      </div>
    </div>
  </body>
</html>
